@media screen and (max-width: 700px){

.about .left .items {
  flex-wrap: wrap !important;
  justify-content: flex-start;
}
.about .left .items .item {
  margin: 7px !important;
}
}

.header__navbar ul {
  margin-top: 30px;
}
.header__navbar ul a {
  padding: 15px 0 !important;
}

/* Hero Section  */
.hero h1 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 25px;
}
.hero p {
  padding: 0;
}
.hero .btn-gradient {
  padding: 13px 34px;
  margin-right: 25px;
}
.side-icons {
  transform: translateY(-110px);
}

.categories .container .item .icon {
  min-width: 48px;
  height: 48px;
  padding-top: 11px;
}
.categories .container .item h2 {
  font-size: 1.3rem;
}
.categories .btn-gradient {
  padding: 12px 11px;
}
.about .container {
  padding-top: 0;
}
.about .left{
  width: 100%;
}
.about .right {
  margin-top: 30px;
  width: 100%;
}

.security h1 {
  font-size: 1.7rem;
}
.security .row .item .content {
  width: 100%;
}
.security .row .item h2,
.security .row .item p,
.security .row .item .btn-gradient {
  margin-bottom: 14px;
}
.security .row .item .images .img img{
  width: 100%;
  height: 100%;
}
.security .bigImage {
  width: 100%;
}
.img:nth-child(4) img{
  margin-bottom: 5px !important;
}
.security .row .item .btns {
  margin-top: 50px;
}